<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TubercuLens</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <header>
        <h1>TubercuLens</h1>
        <a href="about.html" class="about-button">About</a>
    </header>
    
    <h2>X-Ray Image Classifier</h2>
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png" required >
        <button type="submit">Predict</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <footer>
        Made by Sreenath Vadlamudi
    </footer>
</body>
</html>
